[Unit]
Description=guestbook.service - A guestbook application using Flask and Gunicorn.
After=network.target

[Service]
User=www-data
Group=www-data
Environment="PATH=/var/www/simple-guestbook/.venv/bin"
Environment="GUESTBOOK_FILENAME=/var/log/guestbook/guestbook.txt"
WorkingDirectory=/var/www/simple-guestbook/
ExecStart=/var/www/simple-guestbook/.venv/bin/gunicorn --workers 3 --bind unix:/tmp/guestbook.sock wsgi:app

[Install]
WantedBy=multi-user.target
